// Variables de color morado para la app
:root {
  --ion-color-primary: #6a1b9a;
  --ion-color-primary-rgb: 106, 27, 154;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5e1989;
  --ion-color-primary-tint: #7a2faa;

  --ion-color-secondary: #9c27b0;
  --ion-color-secondary-rgb: 156, 39, 176;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #89229c;
  --ion-color-secondary-tint: #a63db7;

  --ion-color-tertiary: #7b1fa2;
  --ion-color-tertiary-rgb: 123, 31, 162;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6d1c8f;
  --ion-color-tertiary-tint: #8b32ac;
}
